body {
    background-color: black;
}

#titleTxt {
    font-size: xx-large;
}

html {
    scroll-behavior: smooth;
}

.results-col {
    margin: auto;
    padding: 0%;
    color: white;
    background-color: #0D0D0D;
    height: fit-content;
}

#titleTxt {
    font-family: 'Corben', cursive;
    font-size: 2em;
}
#aboutTxt{
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 1em;
}
#artistInfo {
    font-family: 'Libre Franklin', sans-serif;
}
#lyrics {
    font-family: 'Libre Franklin', sans-serif;
}

#artistName {
    font-size: x-large;
   text-align: start;
   margin: 5px;
   padding-left: 2%;
}

nav {
    background-image: url('images/concertyellow615h.jpg');
    background-position: center;
    background-size: 100%;
    height: 615px;
    padding: 5%;
}

/* Glassmorphism card effect */
.card {
    backdrop-filter: blur(10px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(255, 255, 255, 0);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
}

input {
    color: white
}


#concerts {
    text-decoration: none;
    color: white;
}

.seperation {
    padding: 30px;
    background-color: black;
}

.infoBtn {
   margin: auto;
   border-radius: 10px;
}

.web-links {
    padding-top: 1.5%;
    padding-left: 3%;
    padding-right: 3%;
}


.twitterBtn {
 
    background-color: #27B9F2;
}

.youtubeBtn {
 
    background-color: #A60808;
}

.concertBtn {
    background-color: #026BDE;
    width: 96%;
    /* padding-left: 40%;
    padding-right: 40%; */
    border-radius: 0px 0px 50px 50px;
}

.facebookBtn {
 
    background-color: #335AA6;
}

.webpageBtn {
 
    background-color: #D93D04;

}