* {
    box-sizing: border-box;
}
body {
    background-color: black;
}

html {
    scroll-behavior: smooth;
}

.results-col {
    margin: auto;
    padding: 2%;
    color: white;
    background-color: #0D0D0D;
    height: fit-content;
}

#titleTxt {
    /* font-family: 'Fascinate Inline'; */
    font-family: 'Corben', cursive;
    font-size: 5em;
    line-height: 1em;
    background-color: #f3ec78;
    background-image: linear-gradient(45deg, #bd4cf1, #2dd441);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}

#aboutTxt{
    margin-top: 20px;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 1em;
    background-color: #f3ec78;
    background-image: linear-gradient(45deg, #bd4cf1, #2dd441);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}
#artistInfo {
    font-family: 'Libre Franklin', sans-serif;
}
#lyrics {
    font-family: 'Libre Franklin', sans-serif;
    text-align: start;
}

#songName {
    font-size: x-large;
    margin: auto;
    padding-left: 5%;
    padding-top: 5%;
}

#artistName {
    font-size: xxx-large;
    text-shadow: 0 0 4px #A62F03, 0 0 4px #A62F03, 0 0 4px #A62F03, 0 0 4px #A62F03;
    text-align: start;
    margin: 5px;
    padding-left: 2%;
}

header {
    background-image: url('images/concertyellow615h.jpg');
    background-repeat: no-repeat;
 
    background-position: center;
    background-size: cover;
    height: 100vh;
    padding-top: 5%;
}
h1 {
    margin-top: -20px;
}
/* datalist{
    display:block;
} */

/* Glassmorphism card effect */
.card {
    backdrop-filter: blur(10px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(255, 255, 255, 0);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
    
}

input {
    color: white
}


.hidden {
    display:none;
}

.searchHistoryBtn {
    border-radius: 50px 50px 50px 50px;
  }

#lyricsBorder {
    border-style: solid;
    border-left: rgb(255, 255, 255);
    border-right: rgb(255, 255, 255);
    border-bottom: rgb(255, 255, 255);
    border-width: 1px;
}
#concerts {
    text-decoration: none;
    color: white;
}

.seperation {
    padding: 30px;
    background-color: black;
}

.infoBtn {
   margin: auto;
   border-radius: 10px;
   min-width: 20px;
}

.web-links {
    padding-top: 1%;
    padding-left: 6%;
    padding-right: 6%;
}


.twitterBtn {
 
    background-color: #27B9F2;
}

.facebookBtn:hover,
.webpageBtn:hover,
.youtubeBtn:hover,
.twitterBtn:hover {
    backdrop-filter: blur(10px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(255, 255, 255, 0);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
}

.youtubeBtn {
 
    background-color: #A60808;
}

.concertBtn {
    background-color: #026BDE;
    width: 96%;
    border-radius: 100px 100px 100px 100px;
}

.concertBtn:hover {
    background-color: #051f3a;
}

.facebookBtn {
 
    background-color: #07235cad;
}

.webpageBtn {
 
    background-color: #D93D04;

}

.scrollToTopBtn {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 18px;
    line-height: 48px;
    width: 48px;
    /* place it at the bottom right corner */
    position: fixed;
    bottom: 20px;
    right: 20px;
    /* keep it at the top of everything else */
    z-index: 100;
    /* hide with opacity */
    opacity: 0;
    /* also add a translate effect */
    transform: translateY(100px);
    /* and a transition */
    transition: all 0.5s ease;
}
.showBtn {
    opacity: 1;
    transform: translateY(0);
  }